<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Bienvenido</h1>

</div>
<h2>Inserte su código: </h2>
<ul>
  <div id='calc-contain'>

    <form name="calculator">

      <input type="password" maxlength="4" name="answer" />
      <br>

      <input type="button" class="button" value=" 1 " onclick="calculator.answer.value += '1'" />
      <input type="button" class="button" value=" 2 " onclick="calculator.answer.value += '2'" />
      <input type="button" class="button" value=" 3 " onclick="calculator.answer.value += '3'" />
      <br>

      <input type="button" class="button" value=" 4 " onclick="calculator.answer.value += '4'" />
      <input type="button" class="button" value=" 5 " onclick="calculator.answer.value += '5'" />
      <input type="button" class="button" value=" 6 " onclick="calculator.answer.value += '6'" />
      <br>

      <input type="button" class="button" value=" 7 " onclick="calculator.answer.value += '7'" />
      <input type="button" class="button" value=" 8 " onclick="calculator.answer.value += '8'" />
      <input type="button" class="button" value=" 9 " onclick="calculator.answer.value += '9'" />
      <br>

      <input type="submit" value="enviar" class="button1"/>


    </form>
  </div>
</ul>
